<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>База данных</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('blocks/header'); %>

    <main class="main pt-5">
        <div class="container" style="padding: 0 10%;">
          <div class="row">
            <h3 class="col-sm-auto margin-right">В базе данных: слов - <%= nodeNum %>, связей - <%= relNum %>.</h3>
            <button class="btn btn-outline-primary col-sm-2" type="button" id="exportButton">Экспорт</button>
          </div>
          
            <div class="pt-3 row">
              <h3 class="col-sm-auto">Импорт: </h3>
              <div class="col-sm-5">
                <input type="file" class="form-control" id="fileInput">
              </div>
              <div class="invalid-feedback col-sm-1" id="invalidFeedback">
                Please choose json file.
              </div>
            </div>
            <input id="regexp">
            <table class="table mt-4 table_sort" id="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Слово</th>
                    <th scope="col"  class="text-center">Синонимы</th>
                    <th scope="col" class="text-center">Антонимы</th>
                    <th scope="col" class="text-center">Словоформы</th>
                  </tr>
                </thead>
                <tbody id="target">
                    <% nodeArr.forEach((node,i) => { %>
                        <tr>
                            <th scope="row"><%= i+1%></th>
                            <td><%= node.text %></td>
                            <td class="text-center"><%= node.synonumNum %></td>
                            <td class="text-center"><%= node.antonymNum %></td>
                            <td class="text-center"><%= node.wordformNum %></td>
                        </tr>
                    <% }); %>
                  
                </tbody>
              </table>
        </div>
      </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="/javascripts/database.js"></script>
  </body>
</html>
